https://selenium-python.readthedocs.io/getting-started.html#simple-usage

driver = webdriver.Firefox()
Message: 'geckodriver' executable needs to be in PATH.

In [1]:
import time
import pytest
import time
import json
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities

In [2]:

from selenium.webdriver.firefox.options import Options as FirefoxOptions
import pandas as pd

driver = webdriver.Chrome("D:\Downloads\chromedriver.exe")

vars = {}

driver.get("https://stockbit.com/")
time.sleep(2)
driver.find_element(By.CSS_SELECTOR, ".desktop .login-ldn").click()
time.sleep(4)
driver.find_element(By.ID, "username").send_keys("username")
driver.find_element(By.ID, "password").send_keys("password")
driver.find_element(By.ID, "loginbutton").click()
time.sleep(2)

driver.find_element(By.CSS_SELECTOR, ".searchbox").click()
driver.find_element(By.CSS_SELECTOR, ".searchbox").send_keys("AALI")
driver.find_element(By.CSS_SELECTOR, ".searchbox").send_keys(Keys.ENTER)
driver.execute_script("window.scrollTo(0,417)")
time.sleep(4)
driver.find_element(By.CSS_SELECTOR, ".navnav:nth-child(5) > b").click()
time.sleep(4)
dropdown = driver.find_element(By.NAME, "currency")
time.sleep(1)
dropdown.find_element(By.XPATH, "//option[. = 'IDR']").click()
time.sleep(1)
dropdown = driver.find_element(By.NAME, "ordertype")
time.sleep(1)
dropdown.find_element(By.XPATH, "//option[. = 'ID']").click()
time.sleep(2)

dropdown = driver.find_element(By.NAME, "statementtype")
dropdown.find_element(By.XPATH, "//option[. = 'Annual']").click()
time.sleep(2)

ratio1 = driver.find_element_by_xpath('//div[@id="keyratio"]')
table1=pd.read_html(str(ratio1.get_attribute('innerHTML')))

driver.find_element(By.NAME, "reporttype").click()
dropdown = driver.find_element(By.NAME, "reporttype")
dropdown.find_element(By.XPATH, "//option[. = 'Cash Flow']").click()
time.sleep(2)
driver.find_element(By.NAME, "reporttype").click()
dropdown = driver.find_element(By.NAME, "currency")
dropdown.find_element(By.XPATH, "//option[. = 'IDR']").click()
dropdown = driver.find_element(By.NAME, "ordertype")
dropdown.find_element(By.XPATH, "//option[. = 'ID']").click()
#driver.find_element(By.LINK_TEXT, "Key Ratio").click()
ratio2 = driver.find_element_by_xpath('//div[@id="keyratio"]')
table2=pd.read_html(str(ratio2.get_attribute('innerHTML')))

driver.find_element(By.NAME, "reporttype").click()
dropdown = driver.find_element(By.NAME, "reporttype")
dropdown.find_element(By.XPATH, "//option[. = 'Balance Sheet']").click()
time.sleep(2)

driver.find_element(By.NAME, "reporttype").click()
dropdown = driver.find_element(By.NAME, "currency")
dropdown.find_element(By.XPATH, "//option[. = 'IDR']").click()
dropdown = driver.find_element(By.NAME, "ordertype")
dropdown.find_element(By.XPATH, "//option[. = 'ID']").click()
driver.find_element(By.LINK_TEXT, "Key Ratio").click()
time.sleep(2)
ratio3 = driver.find_element_by_xpath('//div[@id="keyratio"]')
table3=pd.read_html(str(ratio3.get_attribute('innerHTML')))


driver.find_element(By.LINK_TEXT, "Financial Health").click()
time.sleep(2)
ratio4 = driver.find_element_by_xpath('//div[@id="financialhealth"]')
table4=pd.read_html(str(ratio4.get_attribute('innerHTML')))

driver.find_element(By.LINK_TEXT, "Efficiency").click()
time.sleep(2)
ratio5 = driver.find_element_by_xpath('//div[@id="efficiency"]')
table5=pd.read_html(str(ratio5.get_attribute('innerHTML')))

driver.find_element(By.CSS_SELECTOR, ".ant-dropdown-link .popavatar").click()
time.sleep(1)
driver.find_element(By.LINK_TEXT, "Logout").click()

In [3]:
df_all = pd.DataFrame() 

df_all = pd.concat([df_all, table1[0], table2[0], table3[0], table4[0], table5[0]])

In [4]:
table1[0]

,Dalam IDR,12M 2019,12M 2018,12M 2017,12M 2016,12M 2015,12M 2014,12M 2013,12M 2012,12M 2011,12M 2010,12M 2009,12M 2008
0,Share Outstanding,1.92 B,1.92 B,1.92 B,1.92 B,1.57 B,1.57 B,1.57 B,1.57 B,1.57 B,1.57 B,1.57 B,1.57 B
1,EPS (Annual),109.69,747.40,1044.50,1042.75,393.15,1589.91,1143.93,1530.57,1527.59,1335.87,1098.37,1724.42
2,PE Ratio (Annual),132.87,15.82,12.59,16.09,40.32,15.25,21.94,12.87,14.21,19.61,20.71,5.68
3,Price to Sales (Annual),1.61,1.19,1.46,2.29,1.91,2.34,3.12,2.68,3.17,4.67,4.83,1.89
4,Return on Assets (Annual),0.78%,5.36%,8.06%,8.28%,2.88%,13.49%,12.04%,19.41%,23.57%,23.93%,22.84%,41.65%
5,Return on Equity (Annual),1.14%,7.58%,11.13%,11.71%,5.49%,21.92%,18.21%,26.69%,29.55%,29.17%,27.78%,52.66%
6,Return on Capital Employed (Annual),3.90%,10.02%,14.22%,13.89%,11.43%,29.02%,28.58%,37.17%,38.75%,41.76%,43.02%,122.73%
7,Interest Coverage (Annual),2.74,10.33,23.04,18.35,14.77,38.74,6.77,118.29,550.41,363.13,85.25,18867.84

In [5]:
table2[0]

,Dalam IDR,12M 2019,12M 2018,12M 2017,12M 2016,12M 2015,12M 2014,12M 2013,12M 2012,12M 2011,12M 2010,12M 2009,12M 2008
0,Operating Cash Flow (Annual),"1,292 B","2,045 B","2,842 B","2,512 B","1,028 B","3,022 B","3,157 B","2,610 B","3,162 B","2,947 B","1,985 B","2,087 B"
1,Capital expenditure (Annual),"(1,272 B)","(1,577 B)","(1,663 B)","(2,350 B)","(3,044 B)","(3,278 B)","(2,861 B)","(2,631 B)","(2,033 B)","(1,536 B)","(1,284 B)","(1,279 B)"
2,Free cash flow (Annual),20 B,468 B,"1,179 B",162 B,"(2,017 B)",(256 B),295 B,(21 B),"1,130 B","1,411 B",701 B,808 B
3,Free cash flow per share (Annual),10.64,243.34,612.64,84.12,-1280.65,-162.70,187.38,-13.36,717.50,895.73,445.09,513.11

In [6]:
table3[0]

,Dalam IDR,12M 2019,12M 2018,12M 2017,12M 2016,12M 2015,12M 2014,12M 2013,12M 2012,12M 2011,12M 2010,12M 2009,12M 2008
0,Price to Book Value (Annual),1.51,1.20,1.40,1.88,2.21,3.34,3.99,3.44,4.20,5.72,5.75,2.99
1,Book Value Per Share (Annual),9622.94,9866.34,9386.43,8902.89,7166.12,7251.59,6283.30,5733.74,5168.85,4579.59,3953.89,3274.34
2,Price to Tang. Book Value (Annual),1.52,1.20,1.41,1.89,2.22,3.36,4.02,3.46,4.23,5.76,5.81,3.04
3,Tang. Book Value Per Share (Annual),9593.87,9837.27,9357.36,8873.82,7130.59,7216.06,6247.77,5698.21,5133.32,4545.73,3914.80,3227.37
4,Short-term Debt (Annual),150 B,"1,125 B",600 B,"1,985 B","2,025 B","2,299 B","2,152 B",972 B,-,-,-,-
5,Long-term Debt (Annual),"5,535 B","3,606 B","3,369 B","2,116 B","5,708 B","2,128 B",571 B,-,-,-,-,-
6,Total Debt (Annual),"5,685 B","4,731 B","3,969 B","4,101 B","7,733 B","4,427 B","2,723 B",972 B,-,-,-,-
7,Net Debt (Annual),"5,302 B","4,682 B","3,707 B","3,569 B","7,438 B","3,816 B","2,014 B",744 B,(838 B),"(1,241 B)",(789 B),(868 B)
8,Working capital (Annual),"2,905 B","1,424 B","1,936 B",109 B,(708 B),"(1,707 B)","(2,068 B)",(820 B),446 B,989 B,775 B,959 B

In [7]:
table4[0]

,Dalam IDR,12M 2019,12M 2018,12M 2017,12M 2016,12M 2015,12M 2014,12M 2013,12M 2012,12M 2011,12M 2010,12M 2009,12M 2008
0,Current Ratio (Annual),2.85,1.46,1.84,1.03,0.80,0.58,0.45,0.68,1.31,1.93,1.83,1.94
1,Quick Ratio (Annual),1.59,0.69,0.96,0.50,0.32,0.27,0.24,0.20,0.78,1.34,1.18,1.18
2,Debt to Equity Ratio (Annual),0.31,0.25,0.22,0.24,0.69,0.39,0.28,0.11,0.00,0.00,0.00,0.00
3,Financial Leverage (Annual),1.46,1.41,1.38,1.41,1.91,1.63,1.51,1.38,1.25,1.22,1.22,1.26
4,LT Debt/Equity (Annual),0.30,0.19,0.19,0.12,0.51,0.19,0.06,0.00,0.00,0.00,0.00,0.00
5,LT Debt/Total Assets (Annual),0.21,0.13,0.14,0.09,0.27,0.11,0.04,0.00,0.00,0.00,0.00,0.00
6,Net Debt/Total Equity (Annual),0.29,0.25,0.21,0.21,0.66,0.33,0.20,0.08,-0.10,-0.17,-0.13,-0.17
7,Total Debt/Total Assets (Annual),0.21,0.18,0.16,0.17,0.36,0.24,0.18,0.08,0.00,0.00,0.00,0.00
8,Total Liabilities/Equity (Annual),0.43,0.39,0.35,0.39,0.87,0.59,0.47,0.34,0.22,0.19,0.18,0.23

In [8]:
table5[0]

,Dalam IDR,12M 2019,12M 2018,12M 2017,12M 2016,12M 2015,12M 2014,12M 2013,12M 2012,12M 2011,12M 2010,12M 2009,12M 2008
0,Days Sales Outstanding (Annual),10.30,11.13,11.33,7.40,1.10,0.42,0.64,0.72,0.95,4.14,4.09,0.37
1,Days Inventory (Annual),51.77,51.50,57.07,66.20,54.32,33.45,43.58,51.13,37.22,43.05,58.75,32.72
2,Payables Period (Annual),22.84,22.56,24.58,29.24,30.30,26.40,27.29,27.53,23.24,20.46,22.35,12.21
3,Cash Conversion Cycle (Annual),39.23,40.07,43.82,44.36,25.12,7.47,16.93,24.32,14.93,26.73,40.49,20.88
4,Receivables Turnover (Annual),35.42,32.79,32.20,49.30,331.26,878.33,574.31,507.31,384.45,88.10,89.21,998.56
5,Receivables Turnover (TTM),42.56,34.25,30.55,38.95,214.31,749.50,784.78,189.96,808.63,237.24,63.09,151.81
6,Inventory Turnover (Annual),7.05,7.09,6.40,5.51,6.72,10.91,8.38,7.14,9.81,8.48,6.21,11.15
7,Inventory Turnover (TTM),7.22,5.97,6.33,5.42,6.40,7.66,9.15,5.67,7.75,7.17,5.62,5.60
8,Fixed Assets Turnover (Annual),1.74,1.87,1.72,1.46,1.48,2.20,2.22,2.74,3.46,3.45,3.34,8.15
9,Fixed Assets Turnover (TTM),1.76,1.88,1.71,1.43,1.42,2.03,2.08,2.46,3.22,3.29,3.11,4.08
10,Asset Turnover (Annual),0.65,0.74,0.70,0.62,0.65,0.97,0.93,1.02,1.13,1.08,1.05,2.50
11,Asset Turnover (TTM),0.64,0.70,0.69,0.60,0.61,0.89,0.86,0.95,1.04,1.02,0.96,1.15
12,Working Capital Turnover (Annual),6.01,13.40,8.94,130.06,-18.45,-9.55,-6.13,-14.10,24.15,8.94,9.57,8.51
13,Working Capital Turnover (TTM),6.01,13.40,8.94,130.06,-18.45,-9.55,-6.13,-14.10,24.15,8.94,9.57,8.51
14,Working Capital Ratio (Annual),2.85,1.46,1.84,1.03,0.80,0.58,0.45,0.68,1.31,1.93,1.83,1.94

In [9]:
df_all

,Dalam IDR,12M 2019,12M 2018,12M 2017,12M 2016,12M 2015,12M 2014,12M 2013,12M 2012,12M 2011,12M 2010,12M 2009,12M 2008
0,Share Outstanding,1.92 B,1.92 B,1.92 B,1.92 B,1.57 B,1.57 B,1.57 B,1.57 B,1.57 B,1.57 B,1.57 B,1.57 B
1,EPS (Annual),109.69,747.40,1044.50,1042.75,393.15,1589.91,1143.93,1530.57,1527.59,1335.87,1098.37,1724.42
2,PE Ratio (Annual),132.87,15.82,12.59,16.09,40.32,15.25,21.94,12.87,14.21,19.61,20.71,5.68
3,Price to Sales (Annual),1.61,1.19,1.46,2.29,1.91,2.34,3.12,2.68,3.17,4.67,4.83,1.89
4,Return on Assets (Annual),0.78%,5.36%,8.06%,8.28%,2.88%,13.49%,12.04%,19.41%,23.57%,23.93%,22.84%,41.65%
5,Return on Equity (Annual),1.14%,7.58%,11.13%,11.71%,5.49%,21.92%,18.21%,26.69%,29.55%,29.17%,27.78%,52.66%
6,Return on Capital Employed (Annual),3.90%,10.02%,14.22%,13.89%,11.43%,29.02%,28.58%,37.17%,38.75%,41.76%,43.02%,122.73%
7,Interest Coverage (Annual),2.74,10.33,23.04,18.35,14.77,38.74,6.77,118.29,550.41,363.13,85.25,18867.84
0,Operating Cash Flow (Annual),"1,292 B","2,045 B","2,842 B","2,512 B","1,028 B","3,022 B","3,157 B","2,610 B","3,162 B","2,947 B","1,985 B","2,087 B"
1,Capital expenditure (Annual),"(1,272 B)","(1,577 B)","(1,663 B)","(2,350 B)","(3,044 B)","(3,278 B)","(2,861 B)","(2,631 B)","(2,033 B)","(1,536 B)","(1,284 B)","(1,279 B)"
2,Free cash flow (Annual),20 B,468 B,"1,179 B",162 B,"(2,017 B)",(256 B),295 B,(21 B),"1,130 B","1,411 B",701 B,808 B
3,Free cash flow per share (Annual),10.64,243.34,612.64,84.12,-1280.65,-162.70,187.38,-13.36,717.50,895.73,445.09,513.11
0,Price to Book Value (Annual),1.51,1.20,1.40,1.88,2.21,3.34,3.99,3.44,4.20,5.72,5.75,2.99
1,Book Value Per Share (Annual),9622.94,9866.34,9386.43,8902.89,7166.12,7251.59,6283.30,5733.74,5168.85,4579.59,3953.89,3274.34
2,Price to Tang. Book Value (Annual),1.52,1.20,1.41,1.89,2.22,3.36,4.02,3.46,4.23,5.76,5.81,3.04
3,Tang. Book Value Per Share (Annual),9593.87,9837.27,9357.36,8873.82,7130.59,7216.06,6247.77,5698.21,5133.32,4545.73,3914.80,3227.37
4,Short-term Debt (Annual),150 B,"1,125 B",600 B,"1,985 B","2,025 B","2,299 B","2,152 B",972 B,-,-,-,-
5,Long-term Debt (Annual),"5,535 B","3,606 B","3,369 B","2,116 B","5,708 B","2,128 B",571 B,-,-,-,-,-
6,Total Debt (Annual),"5,685 B","4,731 B","3,969 B","4,101 B","7,733 B","4,427 B","2,723 B",972 B,-,-,-,-
7,Net Debt (Annual),"5,302 B","4,682 B","3,707 B","3,569 B","7,438 B","3,816 B","2,014 B",744 B,(838 B),"(1,241 B)",(789 B),(868 B)
8,Working capital (Annual),"2,905 B","1,424 B","1,936 B",109 B,(708 B),"(1,707 B)","(2,068 B)",(820 B),446 B,989 B,775 B,959 B
0,Current Ratio (Annual),2.85,1.46,1.84,1.03,0.8,0.58,0.45,0.68,1.31,1.93,1.83,1.94
1,Quick Ratio (Annual),1.59,0.69,0.96,0.5,0.32,0.27,0.24,0.2,0.78,1.34,1.18,1.18
2,Debt to Equity Ratio (Annual),0.31,0.25,0.22,0.24,0.69,0.39,0.28,0.11,0,0,0,0
3,Financial Leverage (Annual),1.46,1.41,1.38,1.41,1.91,1.63,1.51,1.38,1.25,1.22,1.22,1.26
4,LT Debt/Equity (Annual),0.3,0.19,0.19,0.12,0.51,0.19,0.06,0,0,0,0,0
5,LT Debt/Total Assets (Annual),0.21,0.13,0.14,0.09,0.27,0.11,0.04,0,0,0,0,0
6,Net Debt/Total Equity (Annual),0.29,0.25,0.21,0.21,0.66,0.33,0.2,0.08,-0.1,-0.17,-0.13,-0.17
7,Total Debt/Total Assets (Annual),0.21,0.18,0.16,0.17,0.36,0.24,0.18,0.08,0,0,0,0
8,Total Liabilities/Equity (Annual),0.43,0.39,0.35,0.39,0.87,0.59,0.47,0.34,0.22,0.19,0.18,0.23
0,Days Sales Outstanding (Annual),10.3,11.13,11.33,7.4,1.1,0.42,0.64,0.72,0.95,4.14,4.09,0.37
1,Days Inventory (Annual),51.77,51.5,57.07,66.2,54.32,33.45,43.58,51.13,37.22,43.05,58.75,32.72
2,Payables Period (Annual),22.84,22.56,24.58,29.24,30.3,26.4,27.29,27.53,23.24,20.46,22.35,12.21
3,Cash Conversion Cycle (Annual),39.23,40.07,43.82,44.36,25.12,7.47,16.93,24.32,14.93,26.73,40.49,20.88
4,Receivables Turnover (Annual),35.42,32.79,32.2,49.3,331.26,878.33,574.31,507.31,384.45,88.1,89.21,998.56
5,Receivables Turnover (TTM),42.56,34.25,30.55,38.95,214.31,749.5,784.78,189.96,808.63,237.24,63.09,151.81
6,Inventory Turnover (Annual),7.05,7.09,6.4,5.51,6.72,10.91,8.38,7.14,9.81,8.48,6.21,11.15
7,Inventory Turnover (TTM),7.22,5.97,6.33,5.42,6.4,7.66,9.15,5.67,7.75,7.17,5.62,5.6
8,Fixed Assets Turnover (Annual),1.74,1.87,1.72,1.46,1.48,2.2,2.22,2.74,3.46,3.45,3.34,8.15
9,Fixed Assets Turnover (TTM),1.76,1.88,1.71,1.43,1.42,2.03,2.08,2.46,3.22,3.29,3.11,4.08
10,Asset Turnover (Annual),0.65,0.74,0.7,0.62,0.65,0.97,0.93,1.02,1.13,1.08,1.05,2.5
11,Asset Turnover (TTM),0.64,0.7,0.69,0.6,0.61,0.89,0.86,0.95,1.04,1.02,0.96,1.15
12,Working Capital Turnover (Annual),6.01,13.4,8.94,130.06,-18.45,-9.55,-6.13,-14.1,24.15,8.94,9.57,8.51
13,Working Capital Turnover (TTM),6.01,13.4,8.94,130.06,-18.45,-9.55,-6.13,-14.1,24.15,8.94,9.57,8.51
14,Working Capital Ratio (Annual),2.85,1.46,1.84,1.03,0.8,0.58,0.45,0.68,1.31,1.93,1.83,1.94

In [10]:
driver.close()

driver.quit()